@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de colores */
:root {
  --background-light: #F4F3EE;
  --foreground-light: #171717;

  --background-dark: #0a0a0a;
  --foreground-dark: #F4F3EE;
}



/* Aplicación de los colores en el body */
body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}


/* Clases para el modo oscuro manual con Tailwind */
.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

.light {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}
